In [1]:
# Dependencies
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Dependencies
import pandas as pd
from bs4 import BeautifulSoup
import requests
import os
import re

game_info_df=pd.read_csv("../bgg_csv/boardgames2_06022021.csv")
ranking_df=pd.read_csv("../bgg_csv/2021-05-29_game_id_rankings.csv")

In [3]:
# Create database connection
# change the owner name, password and port number based on your local situation
# engine = create_engine(f'postgresql://{*database_owner}:{*password}@localhost:{*port}/housing_db')
rds_connection_string = "postgres:Di2JieDu@n@localhost:5432/boardgame_db"
engine = create_engine(f'postgresql://{rds_connection_string}')
# Confirm tables
engine.table_names()

<ipython-input-3-c53120dffb8b>:7: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['ranking_200', 'game_info', 'news']

In [4]:
 # URL of page to be scraped
url = 'https://boardgamegeek.com/blog/1/boardgamegeek-news'
# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'html.parser')
news_titles = soup.find(class_='blog_post')
# find the news title and image
news_title = news_titles.find(class_='post_title').text.strip('\n')
featured_image_url = soup.find(class_="post-img").a.img['src']
print(f'news_title: {news_title}')
print(f"featured_image_url: {featured_image_url}")
news_df=pd.DataFrame([{"news_title":news_title, "featured_image_url":featured_image_url}])
news_dict=news_df.to_dict('records')
news_dict

news_title: Use Dice to Deliver Pizza, Avoiding a Jinx as You Create a Winning 4Mation
featured_image_url: https://cf.geekdo-images.com/O7AQ1u3-9NGV1rPrKwOkHw__medium/img/FVxShbEGucrLFapy2kpQs28j5-E=/fit-in/500x500/filters:no_upscale():strip_icc()/pic5974413.jpg

[{'news_title': 'Use Dice to Deliver Pizza, Avoiding a Jinx as You Create a Winning 4Mation',
  'featured_image_url': 'https://cf.geekdo-images.com/O7AQ1u3-9NGV1rPrKwOkHw__medium/img/FVxShbEGucrLFapy2kpQs28j5-E=/fit-in/500x500/filters:no_upscale():strip_icc()/pic5974413.jpg'}]

In [5]:
# get the top 200 rankings
ranking_df.drop_duplicates(subset=['BoardGameRank'], inplace=True)
ranking_df.fillna(0, inplace=True)
ranking_int_df=ranking_df.astype('int64')
ranking_int_df['BoardGameRank'] = ranking_int_df.BoardGameRank.astype(str)
ranking_200_df=ranking_int_df.head(200).copy()
ranking_200_df.set_index('BoardGameRank', inplace=True)
ranking_int_df.set_index('BoardGameRank', inplace=True)
ranking_200_df

,2018-10-06,2018-10-13,2018-10-20,2018-10-27,2018-11-03,2018-11-09,2018-11-17,2018-11-24,2018-12-01,2018-12-08,...,2021-03-20,2021-03-27,2021-04-03,2021-04-10,2021-04-17,2021-04-24,2021-05-01,2021-05-08,2021-05-15,2021-05-22
BoardGameRank,,,,,,,,,,,,,,,,,,,,,
1,174430,174430,174430,174430,174430,174430,174430,174430,174430,174430,...,174430,174430,174430,174430,174430,174430,174430,174430,174430,174430
2,161936,161936,161936,161936,161936,161936,161936,161936,161936,161936,...,161936,161936,161936,161936,161936,161936,161936,161936,161936,161936
3,182028,182028,182028,182028,182028,182028,182028,182028,182028,182028,...,224517,224517,224517,224517,224517,224517,224517,224517,224517,224517
4,167791,167791,167791,167791,167791,167791,167791,167791,167791,167791,...,167791,167791,167791,167791,167791,167791,167791,167791,167791,167791
5,12333,12333,12333,12333,12333,12333,12333,12333,12333,12333,...,233078,233078,233078,233078,233078,233078,233078,233078,233078,233078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,176920,176920,176920,176920,144344,144344,144344,144344,144344,163745,...,20551,169426,169426,169426,31481,283948,169426,27833,31481,31481
197,1,1,1,192135,176920,13122,13122,13122,13122,13122,...,421,20551,20551,20551,283948,31481,31481,128621,27833,27833
198,13122,13122,13122,1,13122,176920,176920,109276,221194,144344,...,176494,421,421,283948,20551,20551,20551,20551,20551,128621
199,37046,37046,176734,13122,1,1,109276,176920,176920,109276,...,199478,176494,176494,421,421,421,421,232832,232832,20551
200,39856,39856,37046,176734,176734,176734,176734,176734,109276,176920,...,312484,199478,232832,232832,232832,232832,232832,176494,421,421

In [6]:
# check if any game in the top 200 list is not the 20k game info list
game_id_list=game_info_df['objectid']
game_20k_list=[*game_id_list]
game_20k_set=set(game_20k_list)

game_ids=[]
for i in range(200):
    game_id=ranking_200_df.iloc[i].unique()
    game_ids.extend(game_id)
unique_game_ids=set(game_ids)
unique_game_ids.remove(0)

game_out=0
for game_id in unique_game_ids:
    if game_id not in game_20k_set:
        print(f'{game_id} not found')
        game_out+=1
print(f'there are/is {game_out} game(s) from top 200 games that not cover in the 20k game info')

there are/is 0 game(s) from top 200 games that not cover in the 20k game info

In [7]:
# add a column "is_top200" to game_info_df
is_top200_list=[]
for game_id in game_info_df['objectid']:
    if game_id in unique_game_ids:
        is_top200_list.append(True)
    else:
        is_top200_list.append(False)
game_info_df['is_top200']=is_top200_list

# remove unused info for this project
game_info_df.loc[game_info_df.is_top200 == False, 'description'] = " "

In [9]:
# convert unicode to printable format
a=game_info_df['name']
kk=[]
for b in a:
    b=re.sub('\s\s+', ' ', b)
    x=b.replace('\\u','/u').replace('\\', "").replace('/u','\\u')
    c=(x.encode('utf-8').decode('unicode-escape'))
    kk.append(c)
game_info_df['game_name']=kk

In [10]:
# convert description to JSON parsible format
a=game_info_df['description']
kk=[]
for b in a:
    b=re.sub(r'[^\x20-\x7F]',r'', b)
    b=b.replace('"',"|")
    kk.append(b)
game_info_df['game_description']=kk
game_info_df = game_info_df.replace(to_replace= r'\\', value= '', regex=True)

In [11]:
# get only the needed columns
game_info_selected_df=game_info_df[['objectid', 'game_name', 'game_description', 'yearpublished','is_top200',
                                    'average','numplays','maxplaytime','minage', 'languagedependence',
                                    'minplayers','maxplayers', 'minplaytime',  
                                    'news', 'blogs', 'weblink','podcast', 
                                    'boardgamepublisher', 'boardgamecategory', 'boardgamemechanic','gamelink']].copy()
# drop the duplicates based on objectid
game_info_selected_df.drop_duplicates(subset=['objectid'], inplace=True)
game_info_selected_df['objectid'] = game_info_selected_df.objectid.astype(str)
game_info_selected_df.set_index('objectid', inplace=True)
game_info_selected_df

,game_name,game_description,yearpublished,is_top200,average,numplays,maxplaytime,minage,languagedependence,minplayers,maxplayers,minplaytime,news,blogs,weblink,podcast,boardgamepublisher,boardgamecategory,boardgamemechanic,gamelink
objectid,,,,,,,,,,,,,,,,,,,,
174430,Gloomhaven,Vanquish monsters with strategic cardplay. Ful...,2017,True,8.77822,363415,120,14,4,1,4,60,8,675,40,147,"['Cephalofair Games', 'Albi', 'Albi Polska', '...","['Adventure', 'Exploration', 'Fantasy', 'Fight...","['Action Queue', 'Action Retrieval', 'Campaign...",/boardgame/174430/gloomhaven
161936,Pandemic Legacy Season 1,Mutating diseases are spreading around the wor...,2015,True,8.60939,236978,60,13,4,2,4,60,10,651,70,170,"['Z-Man Games', 'Asterion Press', 'Devir', 'Fi...","['Environmental', 'Medical']","['Action Points', 'Cooperative Game', 'Hand Ma...",/boardgame/161936/pandemic-legacy-season-1
224517,Brass Birmingham,"Build networks, grow industries, and navigate ...",2018,True,8.67209,52524,120,14,1,2,4,60,4,204,23,28,"['Roxley', 'Arclight', 'BoardM Factory', 'Conc...","['Economic', 'Industry / Manufacturing', 'Trai...","['Hand Management', 'Income', 'Loans', 'Market...",/boardgame/224517/brass-birmingham
167791,Terraforming Mars,Compete with rival CEOs to make Mars habitable...,2016,True,8.42996,386946,120,12,3,1,5,120,16,1454,71,163,"['FryxGames', 'Arclight', 'Bru00e4dspel.se', '...","['Economic', 'Environmental', 'Industry / Manu...","['Drafting', 'End Game Bonuses', 'Hand Managem...",/boardgame/167791/terraforming-mars
233078,Twilight Imperium Fourth Edition,"Build an intergalactic empire through trade, r...",2017,True,8.69249,20878,480,14,4,3,6,240,3,95,23,53,"['Fantasy Flight Games', 'ADC Blackfire Entert...","['Civilization', 'Economic', 'Exploration', 'N...","['Action Drafting', 'Area Majority / Influence...",/boardgame/233078/twilight-imperium-fourth-edi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39662,Cash Cab,,2008,False,4.25690,54,45,0,0,2,4,30,0,0,0,0,['Imagination Games'],"['Movies / TV / Radio theme', 'Trivia']","['Betting and Bluffing', 'Cooperative Game']",/boardgame/39662/cash-cab
34390,Bakugan Battle Brawlers,,2006,False,4.78861,666,15,0,2,2,4,15,0,0,1,0,"['Sega Toys', 'Spin Master Ltd.']","['Action / Dexterity', 'Collectible Components...","['Area Majority / Influence', 'Hand Management...",/boardgame/34390/bakugan-battle-brawlers
7314,Mystery Date,,1965,False,4.71044,181,30,7,0,2,4,30,2,2,2,1,"['Hasbro', 'Milton Bradley']","['Childrens Game', 'Electronic', 'Movies / TV ...","['Roll / Spin and Move', 'Set Collection']",/boardgame/7314/mystery-date
18736,CSI Miami,,2005,False,3.71778,23,45,13,0,2,6,45,0,0,0,0,"['Jumbo', 'Piatnik', 'Specialty Board Games', ...",['Deduction'],['Deduction'],/boardgame/18736/csi-miami
15046,Monopoly Star Wars Saga Edition,,2005,False,5.39591,222,120,8,2,2,8,60,0,0,2,0,"['Hasbro', 'Parker Brothers']","['Economic', 'Movies / TV / Radio theme', 'Neg...","['Auction/Bidding', 'Player Elimination', 'Rol...",/boardgame/15046/monopoly-star-wars-saga-edition

In [12]:
# Load dataframes into databases
ranking_int_df.to_sql(name = 'ranking_200', con = engine, if_exists = 'replace', index = True)
game_info_selected_df.to_sql(name = 'game_info', con = engine, if_exists = 'replace', index = True)
news_df.to_sql(name = 'news', con = engine, if_exists = 'replace', index = False)

In [13]:
# Confirm data has been added by querying the income_tax table
pd.read_sql_query('select * from ranking_200', con=engine).head()

,BoardGameRank,2018-10-06,2018-10-13,2018-10-20,2018-10-27,2018-11-03,2018-11-09,2018-11-17,2018-11-24,2018-12-01,...,2021-03-20,2021-03-27,2021-04-03,2021-04-10,2021-04-17,2021-04-24,2021-05-01,2021-05-08,2021-05-15,2021-05-22
0,1,174430,174430,174430,174430,174430,174430,174430,174430,174430,...,174430,174430,174430,174430,174430,174430,174430,174430,174430,174430
1,2,161936,161936,161936,161936,161936,161936,161936,161936,161936,...,161936,161936,161936,161936,161936,161936,161936,161936,161936,161936
2,3,182028,182028,182028,182028,182028,182028,182028,182028,182028,...,224517,224517,224517,224517,224517,224517,224517,224517,224517,224517
3,4,167791,167791,167791,167791,167791,167791,167791,167791,167791,...,167791,167791,167791,167791,167791,167791,167791,167791,167791,167791
4,5,12333,12333,12333,12333,12333,12333,12333,12333,12333,...,233078,233078,233078,233078,233078,233078,233078,233078,233078,233078

In [14]:
# Confirm data has been added by querying the income_tax table
pd.read_sql_query('select * from game_info', con=engine).head()

,objectid,game_name,game_description,yearpublished,is_top200,average,numplays,maxplaytime,minage,languagedependence,...,maxplayers,minplaytime,news,blogs,weblink,podcast,boardgamepublisher,boardgamecategory,boardgamemechanic,gamelink
0,174430,Gloomhaven,Vanquish monsters with strategic cardplay. Ful...,2017,True,8.77822,363415,120,14,4,...,4,60,8,675,40,147,"['Cephalofair Games', 'Albi', 'Albi Polska', '...","['Adventure', 'Exploration', 'Fantasy', 'Fight...","['Action Queue', 'Action Retrieval', 'Campaign...",/boardgame/174430/gloomhaven
1,161936,Pandemic Legacy Season 1,Mutating diseases are spreading around the wor...,2015,True,8.60939,236978,60,13,4,...,4,60,10,651,70,170,"['Z-Man Games', 'Asterion Press', 'Devir', 'Fi...","['Environmental', 'Medical']","['Action Points', 'Cooperative Game', 'Hand Ma...",/boardgame/161936/pandemic-legacy-season-1
2,224517,Brass Birmingham,"Build networks, grow industries, and navigate ...",2018,True,8.67209,52524,120,14,1,...,4,60,4,204,23,28,"['Roxley', 'Arclight', 'BoardM Factory', 'Conc...","['Economic', 'Industry / Manufacturing', 'Trai...","['Hand Management', 'Income', 'Loans', 'Market...",/boardgame/224517/brass-birmingham
3,167791,Terraforming Mars,Compete with rival CEOs to make Mars habitable...,2016,True,8.42996,386946,120,12,3,...,5,120,16,1454,71,163,"['FryxGames', 'Arclight', 'Bru00e4dspel.se', '...","['Economic', 'Environmental', 'Industry / Manu...","['Drafting', 'End Game Bonuses', 'Hand Managem...",/boardgame/167791/terraforming-mars
4,233078,Twilight Imperium Fourth Edition,"Build an intergalactic empire through trade, r...",2017,True,8.69249,20878,480,14,4,...,6,240,3,95,23,53,"['Fantasy Flight Games', 'ADC Blackfire Entert...","['Civilization', 'Economic', 'Exploration', 'N...","['Action Drafting', 'Area Majority / Influence...",/boardgame/233078/twilight-imperium-fourth-edi...

In [15]:
# Confirm data has been added by querying the income_tax table
pd.read_sql_query('select * from news', con=engine).head()

,news_title,featured_image_url
0,"Use Dice to Deliver Pizza, Avoiding a Jinx as ...",https://cf.geekdo-images.com/O7AQ1u3-9NGV1rPrK...